@keyframes shadow-drop-bottom {
    0% {
      box-shadow: 0 0 0 0 transparent;
    }
    to {
      box-shadow: 0 12px 20px -12px rgb(0 0 0/35%);
    }
  }
  .gradient-background {
    position: absolute;
    top: 300px;
    left: 0;
    background: linear-gradient(
      0deg,
      rgba(212, 209, 206, 0.5) 86.56%,
      rgba(212, 209, 206, 0)
    );
    width: 1280px;
    height: 640px;
  }
  .search-results-local-guides-child {
    position: absolute;
    top: 140px;
    left: calc(50% - 580px);
    border-radius: var(--br-11xl);
    background-color: var(--color-whitesmoke-200);
    box-shadow: 0 3px 20px #d4d1ce;
    width: 1160px;
    height: 100px;
  }
  .departure-date,
  .from,
  .party-size,
  .returning-date,
  .to {
    position: absolute;
    top: 160px;
    left: 100px;
    font-size: var(--font-size-sm);
  }
  .departure-date,
  .party-size,
  .returning-date,
  .to {
    left: 521px;
  }
  .party-size,
  .returning-date,
  .to {
    left: 722px;
  }
  .party-size,
  .to {
    left: 940px;
  }
  .to {
    left: 300px;
  }
  .local-guides {
    position: relative;
  }
  .flights-wrapper,
  .hotels-wrapper,
  .local-guides-wrapper {
    position: absolute;
    top: 0;
    border-radius: var(--br-xl);
    height: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: var(--padding-4xs) var(--padding-5xl);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
  }
  .local-guides-wrapper {
    left: 0;
    background-color: var(--color-whitesmoke-100);
    box-shadow: 0 2px 8px rgba(42, 41, 39, 0.3);
    color: var(--color-gray-100);
  }
  .flights-wrapper,
  .hotels-wrapper {
    left: 156px;
    background-color: var(--color-lightgray);
  }
  .hotels-wrapper {
    left: 274px;
  }
  .search-results-tab {
    position: absolute;
    top: 260px;
    left: 70px;
    width: 400px;
    height: 30px;
    font-size: var(--font-size-sm);
    color: var(--color-gray-300);
  }
  .search-results-local-guides-item {
    position: absolute;
    top: 620px;
    left: 60px;
    border-radius: var(--br-11xl);
    background-color: var(--color-whitesmoke-100);
    box-shadow: 0 4px 15px rgba(42, 41, 39, 0.3);
    width: 260px;
    height: 260px;
  }
  .rectangle-div,
  .search-results-local-guides-child1,
  .search-results-local-guides-child2,
  .search-results-local-guides-child3,
  .search-results-local-guides-child4,
  .search-results-local-guides-inner {
    position: absolute;
    top: 320px;
    left: 660px;
    border-radius: var(--br-11xl);
    background-color: var(--color-whitesmoke-100);
    box-shadow: 0 4px 15px rgba(42, 41, 39, 0.3);
    width: 260px;
    height: 260px;
  }
  .rectangle-div,
  .search-results-local-guides-child1,
  .search-results-local-guides-child2,
  .search-results-local-guides-child3,
  .search-results-local-guides-child4 {
    top: 620px;
  }
  .search-results-local-guides-child1,
  .search-results-local-guides-child2,
  .search-results-local-guides-child3,
  .search-results-local-guides-child4 {
    top: 320px;
    left: 360px;
  }
  .component-11:hover,
  .search-results-local-guides-child1:hover {
    animation: 1s ease 0s infinite normal none shadow-drop-bottom;
    opacity: 1;
  }
  .search-results-local-guides-child2,
  .search-results-local-guides-child3,
  .search-results-local-guides-child4 {
    top: 620px;
  }
  .search-results-local-guides-child3,
  .search-results-local-guides-child4 {
    top: 320px;
    left: 960px;
  }
  .search-results-local-guides-child4 {
    top: 620px;
  }
  .ellipse-div,
  .search-results-local-guides-child5,
  .search-results-local-guides-child6 {
    position: absolute;
    top: 640px;
    left: 80px;
    border-radius: 50%;
    background-color: var(--color-gainsboro);
    width: 80px;
    height: 80px;
  }
  .search-results-local-guides-child5,
  .search-results-local-guides-child6 {
    top: 340px;
    left: 380px;
  }
  .search-results-local-guides-child6 {
    top: 640px;
  }
  .search-results-local-guides-child10,
  .search-results-local-guides-child7,
  .search-results-local-guides-child8,
  .search-results-local-guides-child9 {
    position: absolute;
    top: 340px;
    left: 680px;
    border-radius: 50%;
    background-color: var(--color-gainsboro);
    width: 80px;
    height: 80px;
  }
  .search-results-local-guides-child10,
  .search-results-local-guides-child8,
  .search-results-local-guides-child9 {
    top: 640px;
  }
  .search-results-local-guides-child10,
  .search-results-local-guides-child9 {
    top: 340px;
    left: 980px;
  }
  .search-results-local-guides-child10 {
    top: 640px;
  }
  .local-user,
  .local-user1 {
    position: absolute;
    top: 660px;
    left: 180px;
    font-size: var(--font-size-lg);
  }
  .local-user1 {
    left: 480px;
  }
  .local-user2,
  .local-user3,
  .local-user4,
  .local-user5,
  .local-user6 {
    position: absolute;
    top: 660px;
    left: 780px;
    font-size: var(--font-size-lg);
  }
  .local-user3,
  .local-user4,
  .local-user5,
  .local-user6 {
    left: 1080px;
  }
  .local-user4,
  .local-user5,
  .local-user6 {
    top: 360px;
    left: 480px;
  }
  .local-user5,
  .local-user6 {
    left: 780px;
  }
  .local-user6 {
    left: 1080px;
  }
  .city-country,
  .city-country1,
  .city-country2 {
    position: absolute;
    top: 686px;
    left: 180px;
    color: var(--color-gray-100);
  }
  .city-country1,
  .city-country2 {
    left: 480px;
  }
  .city-country2 {
    left: 780px;
  }
  .city-country3,
  .city-country4,
  .city-country5,
  .city-country6 {
    position: absolute;
    top: 686px;
    left: 1080px;
    color: var(--color-gray-100);
  }
  .city-country4,
  .city-country5,
  .city-country6 {
    top: 386px;
    left: 480px;
  }
  .city-country5,
  .city-country6 {
    left: 780px;
  }
  .city-country6 {
    left: 1080px;
  }
  .speaks-languages {
    position: absolute;
    top: 735px;
    left: 80px;
    font-weight: 300;
  }
  .speaks-languages1,
  .speaks-languages2,
  .speaks-languages3 {
    position: absolute;
    top: 735px;
    left: 380px;
    font-weight: 300;
  }
  .speaks-languages2,
  .speaks-languages3 {
    left: 680px;
  }
  .speaks-languages3 {
    left: 980px;
  }
  .speaks-languages4,
  .speaks-languages5 {
    position: absolute;
    top: 435px;
    left: 380px;
    font-weight: 300;
  }
  .speaks-languages5 {
    left: 680px;
  }
  .background-information-about,
  .speaks-languages6 {
    position: absolute;
    top: 435px;
    left: 980px;
    font-weight: 300;
  }
  .background-information-about {
    top: 759px;
    left: 80px;
    display: inline-block;
    width: 220px;
  }
  .background-information-about1,
  .background-information-about2,
  .background-information-about3 {
    position: absolute;
    top: 759px;
    left: 380px;
    font-weight: 300;
    display: inline-block;
    width: 220px;
  }
  .background-information-about2,
  .background-information-about3 {
    left: 680px;
  }
  .background-information-about3 {
    left: 980px;
  }
  .background-information-about4,
  .background-information-about5,
  .background-information-about6 {
    position: absolute;
    top: 459px;
    left: 380px;
    font-weight: 300;
    display: inline-block;
    width: 220px;
  }
  .background-information-about5,
  .background-information-about6 {
    left: 680px;
  }
  .background-information-about6 {
    left: 980px;
  }
  .frame-child {
    position: relative;
    width: 25px;
    height: 20px;
  }
  .frame-button {
    cursor: pointer;
    border: 0;
    padding: var(--padding-xl) var(--padding-xs);
    background-color: var(--color-goldenrod);
    position: absolute;
    top: 180px;
    left: 1100px;
    border-radius: var(--br-16xl);
    width: 80px;
    height: 40px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
  }
  .component-7-icon {
    position: absolute;
    top: 830px;
    left: 269px;
    width: 36px;
    height: 24px;
  }
  .component-4-icon,
  .component-8-icon {
    position: absolute;
    top: 530px;
    left: 569px;
    width: 36px;
    height: 36px;
  }
  .component-8-icon {
    top: 830px;
    height: 24px;
  }
  .component-5-icon,
  .component-9-icon {
    position: absolute;
    top: 530px;
    left: 869px;
    width: 36px;
    height: 36px;
  }
  .component-9-icon {
    top: 830px;
    height: 24px;
  }
  .component-10-icon,
  .component-6-icon {
    position: absolute;
    top: 530px;
    left: 1169px;
    width: 36px;
    height: 36px;
  }
  .component-10-icon {
    top: 830px;
    height: 24px;
  }
  .component-11-child {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-11xl);
    background-color: var(--color-whitesmoke-100);
    box-shadow: 0 4px 15px rgba(42, 41, 39, 0.3);
    width: 260px;
    height: 260px;
  }
  .component-11-item {
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
  }
  .paris-france,
  .rachel-r {
    position: absolute;
    left: 120px;
  }
  .rachel-r {
    top: 40px;
    font-size: var(--font-size-lg);
    display: inline-block;
    width: 79px;
  }
  .paris-france {
    top: 66px;
    color: var(--color-gray-100);
  }
  .background-information-about7,
  .speaks-english-french {
    position: absolute;
    top: 115px;
    left: 20px;
    font-weight: 300;
  }
  .background-information-about7 {
    top: 139px;
    display: inline-block;
    width: 220px;
  }
  .component-11,
  .component-3-icon {
    position: absolute;
    top: 210px;
    left: 209px;
    width: 36px;
    height: 36px;
  }
  .component-11 {
    top: 320px;
    left: 60px;
    width: 260px;
    height: 260px;
  }
  .long-text,
  .long-text1,
  .long-text2 {
    border: 0;
    font-weight: 500;
    font-family: var(--font-rubik);
    font-size: var(--font-size-lg);
    background-color: var(--color-whitesmoke-100);
    position: absolute;
    top: 180px;
    left: 100px;
    border-radius: var(--br-11xl);
    box-shadow: 0 3px 10px rgba(42, 41, 39, 0.3);
    width: 180px;
    display: flex;
    flex-direction: row;
    padding: var(--padding-3xs) var(--padding-211xl) var(--padding-3xs)
      var(--padding-11xl);
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
  }
  .long-text1,
  .long-text2 {
    left: 300px;
  }
  .long-text2 {
    left: 520px;
  }
  .filled {
    position: relative;
    font-weight: 500;
  }
  .long-text3 {
    top: 180px;
    left: 720px;
    border-radius: var(--br-11xl);
    box-shadow: 0 3px 10px rgba(42, 41, 39, 0.3);
    width: 180px;
    display: flex;
    flex-direction: row;
    padding: var(--padding-3xs) var(--padding-211xl) var(--padding-3xs)
      var(--padding-11xl);
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
    font-size: var(--font-size-lg);
    color: var(--color-gray-100);
  }
  .header-child,
  .long-text3,
  .long-text4 {
    position: absolute;
    background-color: var(--color-whitesmoke-100);
  }
  .long-text4 {
    top: 180px;
    left: 940px;
    border-radius: var(--br-11xl);
    box-shadow: 0 3px 10px rgba(42, 41, 39, 0.3);
    width: 120px;
    display: flex;
    flex-direction: row;
    padding: var(--padding-3xs) var(--padding-2xl);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-lg);
    color: var(--color-gray-100);
  }
  .header-child {
    top: 0;
    left: 0;
    width: 1280px;
    height: 120px;
  }
  .frame-item {
    position: relative;
    border-radius: 50%;
    border: 1.5px solid var(--color-lightgray);
    box-sizing: border-box;
    width: 61.5px;
    height: 61.5px;
    z-index: 0;
  }
  .js {
    position: absolute;
    margin: 0 !important;
    top: 20px;
    left: 18px;
    font-weight: 500;
    z-index: 1;
  }
  .ellipse-parent,
  .top-nav {
    position: absolute;
    display: flex;
    flex-direction: row;
  }
  .ellipse-parent {
    top: 40px;
    left: 1160px;
    align-items: center;
    justify-content: center;
    gap: var(--gap-3xs);
    color: var(--color-black);
  }
  .top-nav {
    top: 61px;
    left: 447px;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-31xl);
    font-size: var(--font-size-sm);
  }
  .instance-child {
    position: absolute;
    height: 100%;
    width: 33.52%;
    top: 0;
    right: 66.48%;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    background-color: var(--color-goldenrod);
  }
  .ellipse-group,
  .wanderlust {
    position: absolute;
    top: 23.33%;
    left: 11.17%;
  }
  .ellipse-group {
    top: 40px;
    left: 60px;
    width: 179px;
    height: 60px;
    cursor: pointer;
    font-size: var(--font-size-9xl);
  }
  .group-child,
  .header {
    position: absolute;
    top: 0;
    left: 0;
  }
  .header {
    width: 1280px;
    height: 120px;
    font-size: var(--font-size-lg);
    color: var(--color-gray-100);
  }
  .group-child {
    border-radius: var(--br-xl) var(--br-xl) 0 0;
    background-color: var(--color-whitesmoke-100);
    box-shadow: 0-4px 20px rgba(42, 41, 39, 0.3);
    width: 280px;
    height: 52px;
  }
  .vector-icon {
    position: relative;
    width: 17px;
    height: 10px;
  }
  .expand-button {
    width: 25px;
    height: 21px;
    display: flex;
    flex-direction: column;
    padding: var(--padding-3xs);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
  }
  .messages-parent {
    position: absolute;
    top: 15.5px;
    left: 52px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 65px;
  }
  .messages,
  .rectangle-parent {
    position: absolute;
    top: 363px;
    left: 0;
    width: 280px;
    height: 52px;
  }
  .messages {
    top: 416px;
    left: 960px;
    height: 415px;
    opacity: 0.8;
    font-size: var(--font-size-lg);
  }
  .search-results-local-guides {
    position: relative;
    background-color: var(--color-whitesmoke-100);
    width: 100%;
    height: 832px;
    overflow-y: auto;
    text-align: left;
    font-size: var(--font-size-xs);
    color: var(--color-black);
    font-family: var(--font-rubik);
  }
  